on: [pull_request]

jobs:
  test_action_job:
    runs-on: ubuntu-latest
    name: Test out the action in this repository
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run the action
        uses: ./ # Uses an action in the root directory
        with:
          benchmark-file: "output.json"
